@import "../../config.scss";

#footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 2em;
	background: $deep-purple;

	.content {
		.status {
			position: absolute;
			top: 0.5em;
			right: 0.5em;
		}

		.recording {
			position: absolute;
			top: 0.5em;
			left: 45%;
		}
	}

	.separator {
		height: 1px;
		background: linear-gradient(90deg, transparent, $white);
	}
}
