@import "../../config.scss";

.component-watch {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1em;

	.component-game {
		margin-top: 2em;
		width: 100%;
	}
	
	h2 {
		margin-top: 0;
	}
}
