@import "./config.scss";

html, body {
	border: 0;
	margin: 0;
	padding: 0;

	font-family: $montserrat;
}

html {
	// For the sticky footer
	position: relative;
	min-height: 100%;
}

body {
	background: $deep-purple;
	color: $white;
	-webkit-font-smoothing: antialiased;

	// For the sticky footer
	margin-bottom: $footer-height + 20px;
}

a.link {
	color: inherit;
	opacity: 0.75;
    
    &:hover {
        opacity: 1;
    }
}

.aof-logo {
    margin-top: 50px;
}

.content {
    position: relative;
	width: 1024px;
	margin: auto;
}

.pointer {
	cursor: pointer;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

// -- LOGIN --
.login, .signup, .forgot, .changePassword {
    input {
        border: none;
        outline: none;
        color: inherit;
        font-size: inherit;
        padding: 4px 0;
        border-bottom: 2px solid $deep-purple;
        width: 300px;
    }
    div {
        margin: 15px;
    }
}

// -- SPINNER --

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: $white;
  opacity: 0.75;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
