// -- COLORS --
$deep-purple: hsl(253, 77, 14);
$mid-purple: hsl(246, 62, 22);
$light-purple: rgb(109, 51, 141);
$pink: rgb(251, 55, 96);

$blue: #007FE0;
$red: #F10000;
$green: #00F100;

$white: white;
$black: black;

$border-radius: 5px;

// -- FONTS --
$montserrat: 'Montserrat', 'Helvetica Neue', 'Helvetica', sans-serif;

// -- MIXINS --
@mixin drop-shadow() {
	box-shadow: 0px 0px 5px 4px rgba($black, 0.25);
}

@mixin dotted-border() {
	border: 1px dashed rgba($white, 0.5);
}
